@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Località Sbarrata 58/A<br />
        Frazione Travazzano, Carpaneto Piacentino (PC)<br />
        <abbr title="Phone">P:</abbr>
        349/3090545
    </address>

    <address>
        <strong>Mail Studio:</strong>   <a href="mailto:studiolegaleturchio@gmail.com">studiolegaleturchio@gmail.com</a><br />
    </address>
</main>